/* --- Admin */
.admin-cat-list {
	margin-bottom: 0.456em;
	overflow: hidden;
}

/* Home */
.dictionary-word {
	margin-bottom:0;
	padding: 0;
}

.dictionary-definition {
	padding-top:5px;
	margin-top:7px;
	border-top:1px #cccccc solid;
	overflow-y:auto;
}

.dictionary-letter a {
	font-weight:bold;
	padding: 0 5px;
	border: 1px solid #366493;
}

.filter-selector {
	padding-top: 0.618em;
	text-align: left;
}

.no-script {
	text-align: center;
	color: #FF0000;
}
