.dictionary_word {
	clear:both;
	padding:10px 15px;
	padding-bottom:10px;
	margin-bottom:5px;
	clear:both;
	text-align:justify;
	border:1px #cccccc solid;
	-moz-border-radius:12px;
	-khtml-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	background-image: linear-gradient(bottom, #FFFFFF 50%, #CCCCCC 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 50%, #CCCCCC 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 50%, #CCCCCC 100%);
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 50%, #CCCCCC 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 50%, #CCCCCC 100%);
}

.dictionary_definition {
	padding-top:5px;
	margin-top:7px;
	border-top:1px #cccccc solid;
	overflow-y:auto;
}

.dictionary_letter{
	background:#5D7C94 url(images/msg_top_row.png) repeat-x;
	padding:6px;
	border:2px solid #CCCCCC;
}

.dictionary_letter2{
	color:#FFF;
	font-weight:bold;
	font-size:14px;
	padding: 0 5px;
}

.dictionary_letter2 a {
	border: 1px solid #ffffff;
}
