/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

#smallads-flexisel .flexisel-thumbnail {
    display: block;
    height: 185px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
}

.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.nbs-flexisel-inner {
    overflow: hidden;
    float: left;
    width: 100%;
}

.relative-container ul li {
    float: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.nbs-flexisel-item a { display: block; }

.nbs-flexisel-item a .smallads-mini-infos {
    position: absolute;
    padding: 0.309em;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(var(--lighten), 0.8);
}

.nbs-flexisel-item a.new-content .smallads-mini-infos { color: var(--success-tone); }

.nbs-flexisel-item a.completed-smallad .smallads-mini-infos { color: var(--error-tone); }

#smallads-flexisel .nbs-flexisel-item a.completed-smallad span.completed-item {
    color: var(--error-tone);
    position: absolute;
    padding: 0.309em;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(var(--lighten), 0.5);
    z-index: 8;
}

.nbs-flexisel-item a.completed-smallad span.completed-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 2rem;
}

.smallads-mini-infos h6 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nbs-flexisel-item img {
    cursor: pointer;
    margin:0;
}

/* --- Navigation --- */
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px;
    position: absolute;
    cursor: pointer;
    z-index: 9;
    opacity: 1;
}

.nbs-flexisel-nav-left {
    left: 0.309em;
    background: url('images/button-previous.png') no-repeat;
}

.nbs-flexisel-nav-right {
    right: 0.309em;
    background: url('images/button-next.png') no-repeat;
}
