#smallads-module .formatter-content {display: table;}

/* --- Sold item --- */
.completed-smallad {
	position: relative;
	opacity: 0.5;
}

.completed-item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9;
}

.completed-item span {
	display: block;
	position: absolute;
	top:30%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2.618em;
}

/* --- Price --- */
.smallad-price {
	text-align: right;
	font-size: 2.618em;
}

/* --- Categories ----------------------------------------------------------- */
.smallads-category-list,
.smallads-category-list .field-description {
    text-align: right;
	z-index: 5;
}

.smallads-category-list label,
.smallads-category-list .field-description {padding: 0 0 0.618em;}

/* --- Table view ----------------------------------------------------------- */

.smallads-title {
	width: 250px;
}

/* --- Sort/filter Options - jpList ----------------------------------------- */
.jplist-panel .cell {
	position: relative;
}

/* --- Pagination --- */
.jplist-panel .pagination {
	margin-bottom: 20px;
	min-height: 30px;
}
.pagination .jplist-label {
	display: none;
}

.jplist-pagingprev,
.jplist-pagingmid,
.jplist-pagingnext { display: inline-block; }

.jplist-hidden { display: none; }

.jplist-current { background-color: rgba(0, 0, 0, 0.2); }

.jplist-pagingmid button:not(:first-child) { margin-left: -3px; }

.jplist-pagination .jplist-holder {
	display: inline-block;
}

/* --- Category-nav --- */
.category-selected {
	cursor: pointer;
	font-size: 1.4rem;
	font-weight: bold;
}

.category-selected i.fa {
	float: right;
}

.category-select #category-nav.cssmenu.small-screen .menu-button {
	display: none;
}

.category-select #category-nav.cssmenu.small-screen .close {
	left: 0 !important;
	height: auto;
}

.category-select #category-nav {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	top: 150%;
	left: 0;
	right: -205.5%;
	transition: all 0.5s ease;
	padding-bottom: 10px;
}

.category-select.reveal-subcat #category-nav {
	opacity: 1;
	visibility: visible;
	top: 100%;
	transition: top 0.5s ease;
}

/* --- Filter types --- */
.jplist-type-filter {
	position: relative;
}

.selected-label {
	cursor: pointer;
}

.selected-label span {
	font-size: 1.4rem;
	font-weight: bold;
}

.selected-label i.fa {
	float: right;
}

.label-list {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 150%;
	left: 0;
	width: 100%;
	transition: 0.3s;
    border-radius: 0 0 3px 3px;
}

.label-list.reveal-list {
	opacity: 1;
	visibility: visible;
	top: 100%;
	transition: 0.3s;
}

.jplist-type-filter .jplist-label {
	display: block;
	line-height: 30px;
	padding: 0 5px;
}

.jplist-type-filter .jplist-label:hover {
	background-color: #ECECEC;
}

.jplist-label [type="radio"]{
	position: absolute;
	width: 100%;
	opacity: 0;
	height: 100%;
}

/* --- Sort field --- */
.sort-list {
	position: relative;
}

.jplist-drop-down .jplist-dd-panel {
	overflow: hidden;
	cursor: pointer;
	position: relative;
	font-size: 1.4rem;
	font-weight: bold;
	height: 100%;
}

.jplist-drop-down .jplist-dd-panel::after {
	content: '\f0d7';
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	position: absolute;
	right: 10px;
	font-weight: 900;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
}

.jplist-drop-down ul {
    position: absolute;
    top: 150%;
	left: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}

.jplist-drop-down ul.jplist-dd-opened {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
	top: 100%;
}

.jplist-drop-down ul li {
	width: 100%;
	float: left;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	cursor: pointer;
}

.jplist-drop-down ul li:hover {
    background-color: #ececec;
}

.jplist-drop-down ul li .sort-type {
	float: right;
	margin: 0 15px 0 0;
}
