.pbt-timer {
    overflow: hidden;
    margin-top: 10px;
}

.timer-unit {
    width:23%;
    float: left;
    text-align: center;
}

.timer-unit:first-child { width:31%; }

.timer-date {
    font-size:1.2em;
    padding: 10px 5px;
    margin: 0 2px;
    border-radius: 4px
}

.timer-name { font-size:10px; }

.horizontal-timer { overflow: hidden; display: table; width: 100%;}

.horizontal-timer .pbt-timer {
    width:60%;
    display: table-cell;
}

.horizontal-timer span.event-title {
    padding: 0 5px;
    display: table-cell;
    vertical-align: middle;
}

input.input-hours,
input.input-minutes {
    width: 80px;
}
