/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

/* --- General design ------------------------------------------------------- */
#module-homelanding {
    display: flex;
    flex-direction: column;
}

#module-homelanding h1,
#module-homelanding .item-content{ margin: 0 0 1em; }

/* --- Anchors Menu --------------------------------------------------------- */
#cssmenu-anchors ul {
	display: flex;
    flex-wrap: wrap;
}

#cssmenu-anchors.small-screen ul { flex-direction: column; }

[data-tabs] img { vertical-align: bottom; }

/* --- Carousel ------------------------------------------------------------- */
.owl-item figure { display: block; }

/* --- Edito ---------------------------------------------------------------- */

#edito { margin: 0.618em 0; }

/* --- last comments -------------------------------------------------------- */

/* --- Last articles -------------------------------------------------------- */

/* --- Last articles from categories ---------------------------------------- */

/* --- Last calendar events ------------------------------------------------- */

/* --- Contact -------------------------------------------------------------- */

/* --- Last downloads ------------------------------------------------------- */

/* --- Last downloads from categories --------------------------------------- */

/* --- Last fedd items ---------------------------------------------------- */
.last-feeds {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.feed-title {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 769px) {
    .feed-title {
        flex-direction: row;
        align-items: center;
    }
}

/* --- Last forum topics ---------------------------------------------------- */

/* --- Last pictures from Gallery ------------------------------------------- */

/* --- Last messages from Guestbook ----------------------------------------- */

/* --- Last media ----------------------------------------------------------- */

/* --- Last news ------------------------------------------------------------ */

/* --- Last news from categories -------------------------------------------- */

/* --- External Rss --------------------------------------------------------- */

/* --- Last partners links -------------------------------------------------- */

/* --- Last partners links from categories ---------------------------------- */

/* --- Configuration -------------------------------------------------------- */
