#module-mini-broadcast {
    .broadcast-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @media (min-width: 769px) { flex-direction: row; }
    }

    .broadcast-player {
        flex: 1 1 auto;

        audio { width: 100%; }
    }

    .broadcast-logo { max-height: 100px; }

    .cell-horizontal-thumbnail img { max-height: 60px; }

    .broadcast-widget::before,
    .broadcast-widget::after {
        content: '';
        clear: both;
        display: block;
    }
}