/* --- Configuration - do not remove --- */
#onblurContainerResponseBroadcastItemFormController_start_time,
#onblurContainerResponseBroadcastItemFormController_end_time { justify-content: flex-start; }

#BroadcastItemFormController_start_time,
#BroadcastItemFormController_start_time + .calendar-container,
#BroadcastItemFormController_end_time,
#BroadcastItemFormController_end_time + .calendar-container { display: none; }

/* --- Config --- */
#AdminBroadcastConfigController_broadcast_logo_preview_picture { max-height: 120px; }

/* --- Calendar display --- */
.broadcast-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 769px) { flex-direction: row; }
}

.broadcast-calendar {
    flex: 0 1 auto;
    align-self: auto;
	list-style-type: none;
	margin: 0 0 20px;
	padding: 0;
	width: 100%;
    @media (min-width: 769px) {
		width: calc(100% / 7);
		margin: 0 0.228em 1.618em 0;

        &:last-child { margin: 0 0 20px; }
	}

    li {
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: var(--bdr-main);
        padding: 0 0.618em;

        &:first-child { border-width: 1px; }
    }

    .no-program { padding: 0; }
}

.no-program .message-helper {
	margin: 0;
	border-width: 0;
}

/* --- Table display --- */
.table-thumbnail {
    padding: 0;

    img { max-height: 40px; }
}

/* --- Accordion display --- */
.accordion-thumbnail { max-width: calc(100% / 4); }

.accordion-content {
	padding-left: 0.618em;
	flex: 1 1 auto;
}

/* --- player --- */
.playpause-track {
    display: table;
    margin: 0.618em auto;
    cursor: pointer;
}
