/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/
#module-mini-discord .cell-list li.discord-channel:hover { background-color: transparent; }

#module-mini-discord .user-wrapper {
    padding: 0.309em 0;
}

#module-mini-discord .user-id {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

#module-mini-discord .username { flex: 1 1 auto; }

#module-mini-discord .image-wrapper {
    /* border-radius: 100%; */
    height: 2em;
    width: 2em;
    margin-right: 0.618em;
}

#module-mini-discord .user-status {
    height: 0.618em;
    width: 0.618em;
    border-radius: 100%;
}