/*
* Copy this file into your theme to customize the module.
* https://www.phpboost.com/wiki/structure-d-un-theme#paragraph-le-repertoire-modules
*/

.front-fieldset fieldset { margin: 0; }

.front-fieldset .fieldset-inset { padding: 0.618em 0 0; }

.last-feeds {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.feed-title {
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
}

@media (min-width: 769px) {
    .feed-title {
        flex-direction: row;
        align-items: center;
    }

    .content.cell-tile .cell.cell-options { max-width: 25%; }
}
